{% extends 'base.html' %}
{% block title %}Seller Panel | DijiKala{% endblock %}

{% block content %}
<h2>👨‍💼 Seller Panel</h2>

{% if store %}
    <div class="card" style="max-width: 500px;">
        <h3>{{ store.name }}</h3>
        <p>{{ store.description|truncatewords:20 }}</p>
        <a href="{% url 'store_detail' store.id %}" class="btn">Manage Store</a>
    </div>
{% else %}
    <p>هنوز فروشگاهی نساختی.</p>
    <a href="{% url 'create_store' %}" class="btn">+ Create New Store</a>
{% endif %}
{% endblock %}